.control-r-media-center-wrap {
  top: 50%;
  margin-top: -106px;
  height: 212px;  
}

.control-r-media-center {
  margin: auto;	
  width: 659px;
  height: 212px;
  background-image: url("../img/xbmc-remote.jpg");
}
