html, body {
  min-height: 100%;
  background-color: #252525;
  overflow: hidden;
}

#cr-spinner {
	position: absolute;
	top: 50%;
	left: 50%;
	background: none repeat scroll 0% 0% #252525;
	color: #FFF;
	width: 268px;
	height: 268px;
	margin: 0;
	border: 0;
	padding: 0;
	margin-left: -134px;
	margin-top: -134px;
}

.cr-panel-gutter {
  content: "\00A0";
  height: 15px;
}

