html: {height: 100%}
#media-center {
  height: 100%;	
}
.control-r-media-center {
  position: absolute;
  width: 1024px;
  height: 800px;
  top: 50%;
  margin: auto;
  margin-top: -400px;
  left: 50%;
  margin-left: -512px;
}

.control-r-media-controls {
  background-image: url('/media-center/img/bg_1024x600.png');
  height: 600px;
  position: relative;
}

.control-r-media-center-album-cover,
.control-r-media-center-playlist {
  position: absolute;
  width:  315px;
  height: 335px;
  right: 24px;
  background-color: #3d3d3d;
  color: #00fff2;
  scroll: vertical;
  padding: 5px;
  border: 1px solid #00fff3;
  border-radius: 6px;
}

.control-r-media-center-playlist {
  bottom:   234px;
  overflow-y: scroll;
}

.control-r-media-template {
  background-image: url('../img/bg_empty.png'); 
  background-color: #3d3d3d;
  background-repeat: no-repeat;
  background-position: center;
  visibility: hidden;
}

.control-r-media-collection {
  background-image: url('../img/bg_collection.png'); 
  background-repeat: no-repeat;
  background-position: center;
  height: 196px;
}

.control-r-media-conditioners {
  background-image: url('../img/bg_conditioners.png'); 
}

.control-r-media-tv {
  background-image: url('../img/bg_tv.png'); 
}

.control-r-media-cameras {
  background-image: url('../img/bg_cameras.png'); 
}

.control-r-media-player {
  background-image: none; 
}

.control-r-media-center-left-panel,
.control-r-media-center-right-panel {
  position: absolute;
  top: 0;
  width: 220px;
  height: 100%;
  background-repeat: no-repeat;
}

.control-r-media-center-left-panel div,
.control-r-media-center-right-panel div{
  position: absolute;
  top: 50%;
  width: 130px;
  height: 750px;
  margin-top: -375px;
  margin-left: 44px;
}

.control-r-media-center-left-panel div p,
.control-r-media-center-right-panel div p{
  margin: 0;
  padding: 0;
  line-height: 130px;
  border: 0;
  color: none;
  visibility: hidden;
}

.control-r-media-center-left-panel div a,
.control-r-media-center-right-panel div a{
  outline: 0;
}

.control-r-media-center-left-panel {
	left: 0;
	background: url('../img/panel-left.png'); 
    background-position: center left;
}

.control-r-media-center-right-panel {
	right: 0;
	background: url('../img/panel-right.png'); 
    background-position: center right;
}

.control-r-media-center-time, 
.control-r-media-center-composition {
  position: absolute;
  background-color: #3d3d3d;
  color: #00fff2;
  bottom:   120px;
  font-family: sans-serif;
  font-size: 16pt;
  text-decoration: small-caps;
}

.control-r-media-center-composition {
  left: 42px;
}

.control-r-media-center-time {
  right: 242px;
  text-align: right;
}

.control-r-media-center-album-cover img{
  margin: auto;
  width: 150px;
  height: 150px;  
}
.control-r-media-center-album-cover {
  width: 150px;
  height: 150px;
  bottom: 22px;  
}

.control-r-media-center-button {
  position: absolute;
  width:  32px;
  height: 32px;
/*  background-color: red; */
  cursor: pointer;
}

.control-r-media-center-bar-gauge {
  position: absolute;
  bottom: 23px;
  left: 280px;
}

.control-r-media-center-power {
  top: 30px;
  left: 37px;
}

.control-r-media-center-play {
  top: 47px;
  left: 417px;
}

.control-r-media-center-pause {
  top: 47px;
  left: 481px;
}

.control-r-media-center-stop {
  top: 47px;
  left: 544px;
}

.control-r-media-center-ok {
  top: 256px;
  left: 484px;
}

.control-r-media-center-up {
  top: 198px;
  left: 484px;
}

.control-r-media-center-down {
  top: 312px;
  left: 484px;
}

.control-r-media-center-right {
  top: 256px;
  left: 544px;
}

.control-r-media-center-left {
  top: 256px;
  left: 419px;
}

.control-r-media-center-mute {
  top: 262px;
  left: 170px;
}

.control-r-media-center-volumeup {
  top: 205px;
  left: 93px;
}

.control-r-media-center-volumedown {
  top: 320px;
  left: 93px;
}

.control-r-media-center-next {
  top: 117px;
  left: 547px;
}

.control-r-media-center-previous {
  top: 117px;
  left: 353px;
}

.control-r-media-center-back {
  top: 117px;
  left: 415px;
}

.control-r-media-center-forward {
  top: 117px;
  left: 485px;
}

.control-r-media-center-1 {
  top: 117px;
  left: 610px;
}

.control-r-media-center-2 {
  top: 331px;
  left: 356px;
}

.control-r-media-center-3 {
  top: 331px;
  left: 610px;
}

.control-r-media-center-4 {
  top: 520px;
  left: 46px;
}
